
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <ul class="nav navbar-nav">
            <li>
                <a href="{{ path('app_index_index') }}">Главная</a>
            </li>

            <li>
                <a href="{{ path('app_student_new') }}">Новый Юзер</a>
            </li>
        </ul>
    </div>
</nav>

